<div id="login">
    <h1>Dream Tracker</h1>
    <div class="white-card">
    <form method="POST" action="/signup">
<div class="input-band">
    <label for="username"><img src="/images/user.png" alt="Name"></label>
    <input id= "username" type="text" name="username" placeholder="Name"> 
    </div>
<div class="input-band">
    <label for="email"><img src="/images/email.png" alt="Email"></label>
    <input id="email" type="email" name="email" placeholder="Email">
    </div>
<div class="input-band">
    <label for="password"><img src="/images/lock.png" alt="Password"></label>
    <input id= "password" type="password" name="password" placeholder="Password">
    </div>
    {{#if errorMessage}}
            <div class="error-msg"><img src="/images/star.png" alt="!!">{{errorMessage}}</div>
            {{/if}}
<div>
    <button class="auth-btn" type="submit">Sign Up!</button>
    <p>Aready a member? <br /> <a href="/login">Log In</a></p>
</div>        
</form>

{{#if errorMessage}}
    <div>{{errorMessage}}</div>
{{/if}}
</div>
</div>