<div class="errorPath">
  <h1 class="errorMessage">Error!</h1>
  <h1 class="errorMessage">Path not available. Please log in to have full access to the site.</h1>
  <p><a class="login" href="/login">Log In</a></p>   
</div>

