<div id="homePage">
  {{!-- <video autoplay muted id="myVideo">
    <source src="/images/animated-bg.mp4" type="video/mp4">
  </video> --}}
  <h1>Dream Tracker</h1>

  <div class="btns"><a href="/signup"><button class="auth-btn" >Sign Up</button></a>
   <a href="/login"><button class="auth-btn" >Log In</button></a></div>
</div>
