body {
  background-color: black;
  font-size: 14px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
 }
a {
  font-weight: bolder;
  color: #143360; }

h1{
  color: white;
  /* font-family: 'Milonga'; */
  font-family: "Megrim";
  /* font-family: 'Aclonica'; */
  font-weight: bolder;
  text-align: center;
  padding-top: 10px;
}

#nav {
  display: flex;
  justify-content: flex-end;
}

#nav .navbar-nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: right;
}

.white-card {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 5px 15px #193047;
  /* text-align: center; */
}

/* HOME PAGE STYLING */
#homePage {
  width: 100vw;
  height: 100vh;
  /* background-image: url(../images/bg01.jpg);
  background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#homePage video{
  position: fixed;
  min-height: 100%;
  bottom: 0;
}

#homePage h1{
  font-size: 4.5rem;
  position: fixed;
  top: 80px;
}
#homePage .btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 75px;
}

.auth-btn {
  background-color: #152936;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  width: 250px;
  box-shadow: 0 5px 15px #193047;
  margin-top: 5px;
}
#homePage .btns a {
  margin-top: 30px;
}

/* LOGIN & SIGN UP STYLING*/
#login {
  background-image: linear-gradient(
      rgba(22, 41, 54, 0.5),
      rgba(22, 41, 54, 0.5)
    ),
    url(../images/bg01.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
#login h1{
  padding-top: 30px;
}
#login .white-card{
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  margin: auto;
  margin-top: 100px;
  padding: 50px 20px;
  text-align: center;
}

#login form {
  display: flex;
  flex-direction: column;
}
#login form label {
  margin: 0;
}

#login form label img {
  height: 20px;
}

.input-band {
  background-color: #c7cbcd;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
}

.input-band input {
  border: none;
  background-color: #c7cbcd;
  margin-left: 10px;
  width: 100%;
}
#login .auth-btn {
  width: 200px;
  margin: 20px 0;
}
#login p {
  color: #424242;
}

.error-msg {
  color: #424242;
  font-size: 1.1rem;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-msg img {
  height: 15px;
  margin-right: 10px;
}

/* DREAMS LIST */
#dreams-list,
#dream-flow {
  background-image: linear-gradient(
      rgba(22, 41, 54, 0.5),
      rgba(22, 41, 54, 0.5)
    ),
    url(../images/bg10.jpg);
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

#dreams-list h1,
#dream-flow h1 {
  width: 80%;
  margin: auto;
}

#dreams-list .white-card,
#dream-flow .white-card {
  padding: 10px;
  margin-top: 20px;
  width: 85%;
  text-align: center;
}
/* Search Part */
.search-card {
  display: flex;
  align-items: center;
}
.search-col .input-band {
  width: 230px;
}

.search-col .input-band label {
  margin: 0;
}

.search-radio {
  font-size: 0.7rem;
  margin-left: 5px;
}

#dreams-list .auth-btn, #dream-flow .auth-btn {
  width: 150px;
  box-shadow: none;
}

.icons-edit{
  display: flex;
  justify-content: space-around;
  width: 70px;
}

.dream-name{
  width: 100%;
}

/* Radio Buttons */


/* List Part */
.one-dream {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #424242;
  padding: 15px 0;
}

.list-card :first-child {
  border-top: none;
}

.one-dream .date {
  font-size: 0.7rem;
  width: 50px;
  margin-right: 5px;
}

.one-dream h3 {
  font-size: 1.3rem;
  margin-right: 10px;
  margin-bottom: 0;
}

.one-dream img {
  height: 15px;
}

.one-dream button {
  background-color: transparent;
  border: none;
}

/* DREAM FLOW */
#dream-flow .one-dream a {
  display: block;
  width: 100%;
}

/* CREATE, EDIT and DETAILS */

#record {
  background-image: linear-gradient(rgba(22,41,54,0.5), rgba(22,41,54,0.5)), url(../images/Bimg-JR01.jpg);
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
}

#record .white-card{
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  margin: auto;
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px #193047;
}

#record .dropdown-toggle{
  background-color: #c7cbcd;
  border: none;
  width: 100%;
  color: #767676;
  text-align: left;
  font-size: 0.9rem;
  padding-left: 20px;
}

.show{
  width: 200px;
  text-align: left;
}

.dropdown-item label{
  margin-left: 10px;
}

.words {
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;

}

.create-btn {
  background-color: #152936;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  width: 100px;
  box-shadow: 0 5px 15px #193047;
  margin-top: 10px;
  margin-bottom: 10px;
}

.audio {
  width: 100%;
  height: 35px;
}

.editAndDelete {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.edit-btn {
  display: flex;
  justify-content: center;
}

#recordButton {
  border-radius: 6px;
  background-color: rgba(224, 222, 222, 0.795);
}

#stopButton {
  border-radius: 6px;
  background-color: rgba(224, 222, 222, 0.795);
}

#recordingsList {
  width: 100%;
  height: 35px;
  margin-top: 10px;
}

#recordingsList audio {
  width:100%;
  height: 35px;
}

.led-red {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 2s infinite;
  -moz-animation: blinkRed 2s infinite;
  -ms-animation: blinkRed 2s infinite;
  -o-animation: blinkRed 2s infinite;
  animation: blinkRed 2s infinite;
}

@-webkit-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-o-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}

#controls {
  display: flex;
  align-items: center;
}

.led-box {
  margin-left: 10px;
}
#categories {
  background-color: #c7cbcd;
  border-radius: 5px;
  padding: 6px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  height: 35px;
  text-align: center;

}

.organizer {
  display: flex;
  align-items: baseline;
}

#public {
  margin-left: 15px;
}

#private {
  margin-left: 5px;
}

.errorPath {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login {
  text-align: center;
  align-self: center;
  font-size: large;
}





