{{> nav this }}

<h3>Dream Flow</h3>

<form method="POST" action="/dreamFlow">

    <label for="date">Date</label>
    <input id="date" type="date" name="date" placeholder="">

    <label for="categories">Categories</label>
    <input id= "categores" type="search" name="categories" placeholder="Select a category">
    
    <button type="submit">Search</button>
         
</form>


<div>
  <ul>
{{#each result}}
    <li><a href="/dreams/{{this._id}}/details">{{this.title}}</a></li>
{{/each}}
  </ul>
</div>