<h3>Your past dreams</h3>

<form method="POST" action="/profile/dreams">

    <label for="date">Date</label>
    <input id="date" type="date" name="date" placeholder="">

    <label for="categories">Categories</label>
    <input id= "categores" type="search" name="categories" placeholder="Select a category">

    <label for="public">Public</label>
    <input id= "public" type="radio" name="public">

    <label for="private">Private</label>
    <input id= "private" type="radio" name="private">

    <button type="submit">Search</button>
         
</form>


<div>
  <ul>
{{#each result}}
    <li><a href="/dreams/{{this._id}}/edit">{{this.title}}</a></li>
{{/each}}
  </ul>
</div>