<div id="record">
 {{> nav this }}
 <h1 class="titles">Hello {{loggedInUser.username}}</h1>
  <div class="white-card">
    <p class="words">Record a dream</p>
    <div>
      <div id="controls">
        <button id="recordButton">Record</button>
        <button id="stopButton" disabled>Stop</button>
      </div>
      <ul id="recordingsList"></ul>
    </div>
    <p class="words">Name your dream</p>
    <div class="input-band">
      <input id="nameYourDream" type="text" name="title" placeholder="Give your dream a name">
    </div>
    
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" value="{{fantastic}}">Fantasctic</button>
          <button class="dropdown-item" >Super Powers</button>
          <button class="dropdown-item" >Action</button>
          <button class="dropdown-item" >Adventure</button>
          <button class="dropdown-item" >Family</button>
          <button class="dropdown-item" >Childhood</button>
          <button class="dropdown-item" >Friends</button>
          <button class="dropdown-item" >Funny</button>
          <button class="dropdown-item" >Pets</button>
          <button class="dropdown-item" >Job</button>
          <button class="dropdown-item" >Drama</button>
          <button class="dropdown-item" >Romance</button>
          <button class="dropdown-item" >Celebrities</button>
          <button class="dropdown-item" >XXX</button>
          <button class="dropdown-item" >The Unknown</button>
          <button class="dropdown-item" >Strangers</button>
          <button class="dropdown-item" >Nightmare</button>
        </div>
      </div>

      <p class="words">Description (optional)</p>
      <div class="input-band">
        <input id="description" type="text" name="description" placeholder="Describe your dream">
      </div>

      <p class="words">Date</p>
      <div class="input-band">
        <input id= "date" type="date" name="date">
      </div>

      <div class="edit-btn">
        <button class="create-btn" id="submitBtn">Create</button> 
      </div>

      
  </div>
  

  {{#if failed}}
    <p>Something went wrong, please try again</p>
  {{/if}}

  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  <script src="/javascripts/script.js"></script>
</div>




<!--
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <input type="checkbox" id="fantasctic" name="Fantasctic">
        <label for="fantasctic">Fantasctic</label><br>
        <input type="checkbox" id="superPowers" name="Super Powers">
        <label for="superPowers">Super Powers</label><br>
        <input type="checkbox" id="action" name="Action">
        <label for="action">Action</label><br>
        <input type="checkbox" id="adventure" name="Adventure">
        <label for="adventure">Adventure</label><br>
        <input type="checkbox" id="family" name="Family">
        <label for="family">Family</label><br>
        <input type="checkbox" id="childhood" name="Childhood">
        <label for="childhood">Childhood</label><br>
        <input type="checkbox" id="friends" name="Friends">
        <label for="friends">Friends</label><br> 
        <input type="checkbox" id="funny" name="Funny">
        <label for="funny">Funny</label><br>
        <input type="checkbox" id="pets" name="Pets">
        <label for="pets">Pets</label><br>
        <input type="checkbox" id="food" name="Food">
        <label for="food">Food</label><br>
        <input type="checkbox" id="job" name="Job">
        <label for="job">Job</label><br>
        <input type="checkbox" id="drama" name="Drama">
        <label for="drama">Drama</label><br> 
        <input type="checkbox" id="romance" name="Romance">
        <label for="romance">Romance</label><br>
        <input type="checkbox" id="celebrities" name="Celebrities">
        <label for="celebrities">Celebrities</label><br>
        <input type="checkbox" id="xxx" name="XXX">
        <label for="xxx">XXX</label><br>
        <input type="checkbox" id="theUnknown" name="The Unknown">
        <label for="theUnknown">The Unknown</label><br>
        <input type="checkbox" id="strangers" name="Strangers">
        <label for="strangers">Strangers</label><br>
        <input type="checkbox" id="Nightmare" name="Nightmare">
        <label for="nightmare">Nightmare</label>
      </div>
    </div>-->

    {{!-- <button id="submitBtn">Create</button> --}}

