<div id="record">
 {{> nav this }}
 <h1 class="titles">Hello {{loggedInUser.username}}</h1>
  <div class="white-card">
    <p class="words">Record a dream (optional)</p>
    <div>
      <div id="controls">
        <button id="recordButton">Record</button>
        <button id="stopButton" disabled>Stop</button>
        <div class="led-box">
          <div class="led-red"></div>
        </div>
      </div>
        <div id="recordingsList"></div>
      </div>
    <p class="words">Name your dream</p>
    <div class="input-band">
      <input id="nameYourDream" type="text" name="title" placeholder="Give your dream a name">
    </div>

      <p class="words">Categories</p>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select categories</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

          <button class="dropdown-item" value="fantastic">Fantastic</button>
          <button class="dropdown-item" value="Super Powers">Super Powers</button>
          <button class="dropdown-item" value="Action">Action</button>
          <button class="dropdown-item" value="Adventure">Adventure</button>


          <button class="dropdown-item" value="Family">Family</button>
          <button class="dropdown-item" value="Childhood">Childhood</button>
          <button class="dropdown-item" value="Friends">Friends</button>
          <button class="dropdown-item" value="Funny">Funny</button>
          <button class="dropdown-item" value="Pets">Pets</button>

          <button class="dropdown-item" value="Job">Job</button>
          <button class="dropdown-item" value="Drama">Drama</button>
          <button class="dropdown-item" value="Romance">Romance</button>
          <button class="dropdown-item" value="Celebrities">Celebrities</button>
          <button class="dropdown-item" value="XXX">XXX</button>
          <button class="dropdown-item" value="The Unknown">The Unknown</button>
          <button class="dropdown-item" value="Strangers">Strangers</button>
          <button class="dropdown-item" value="Nightmare">Nightmare</button>

        </div>
      </div>

      <p class="words">Description (optional)</p>
      <div class="input-band">
        <input id="description" type="text" name="description" placeholder="Describe your dream">
      </div>

      <p class="words">Date</p>
      <div class="input-band">
        <input id= "date" type="date" name="date" value="{{todayDate}}">
      </div>

      <p class = "info-msg"><img src="/images/star.png" alt="!!">By default, this dream is private. <br/> After creating it, you can share it to the Dream Flow by editing it to make it public.</p>

      <div class="edit-btn">
        <button class="create-btn no-record" id="submitBtn">Create</button> 
      </div>

      
  </div>
  

  {{#if failed}}
    <p>Something went wrong, please try again</p>
  {{/if}}

  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  <script src="/javascripts/script.js"></script>
</div>
